Repository innovationmech/swit: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Packages, Internal Services, Saga Module

feat(saga): implement orchestrator coordinator lifecycle APIs
  pkg/saga/coordinator/orchestrator.go
  pkg/saga/coordinator/orchestrator_test.go
Due: unittests, Core Packages, Saga Module

refactor(tests): clean up gosec and trivy test files by removing unnecessary blank lines
  pkg/security/scanner/gosec_test.go
  pkg/security/scanner/trivy_test.go
Due: none

fix(saga): keep sagas progressing when state persistence fails
  pkg/saga/coordinator/compensation.go
  pkg/saga/coordinator/compensation_test.go
  pkg/saga/coordinator/execution.go
  pkg/saga/coordinator/orchestrator.go
  pkg/saga/coordinator/orchestrator_test.go
  pkg/saga/testing/chaos/network_failure_test.go
Due: unittests, Core Packages, Saga Module

build(deps): bump Go to 1.26.4 and x/crypto to v0.52.0
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/docs-sync.yml
  .github/workflows/license-check.yml
  .github/workflows/quality-badges.yml
  .github/workflows/release.yml
  .github/workflows/security-checks.yml
  .github/workflows/security-scan.yml
  .github/workflows/sentry-integration-test.yml
  .github/workflows/test.yml
  go.mod
  go.sum
Due: none

build(deps): bump x/crypto to v0.52.0 in example modules
  examples/distributed-tracing/services/inventory-service/go.mod
  examples/distributed-tracing/services/inventory-service/go.sum
  examples/distributed-tracing/services/order-service/go.mod
  examples/distributed-tracing/services/order-service/go.sum
  examples/distributed-tracing/services/payment-service/go.mod
  examples/distributed-tracing/services/payment-service/go.sum
  examples/saga-monitoring/go.mod
  examples/saga-monitoring/go.sum
  examples/symmetric_transport/go.mod
  examples/symmetric_transport/go.sum
Due: none

feat(saga): implement postgres expired saga cleanup and msgpack serialization
  go.mod
  go.sum
  pkg/saga/state/serializer.go
  pkg/saga/state/serializer_msgpack_test.go
  pkg/saga/state/serializer_test.go
  pkg/saga/state/storage/postgres.go
  pkg/saga/state/storage/postgres_integration_test.go
  pkg/saga/state/storage/postgres_mock_test.go
  pkg/saga/state/storage/postgres_test.go
  pkg/saga/state/types.go
Due: unittests, Core Packages, Saga Module

fix(saga): store nil JSONB fields as SQL NULL and keep tx context alive
  pkg/saga/state/storage/postgres.go
  pkg/saga/state/storage/postgres_mock_test.go
  pkg/saga/state/storage/postgres_test.go
Due: unittests, Core Packages, Saga Module

feat(messaging): de-scaffold kafka and nats brokers
  pkg/messaging/kafka/adapter_test.go
  pkg/messaging/kafka/broker.go
  pkg/messaging/kafka/broker_test.go
  pkg/messaging/kafka/integration_kafka_test.go
  pkg/messaging/kafka/stubs.go
  pkg/messaging/nats/broker.go
  pkg/messaging/nats/config.go
  pkg/messaging/nats/integration_nats_test.go
  pkg/messaging/nats/subscriber.go
  pkg/messaging/nats/subscriber_test.go
  pkg/messaging/rabbitmq/integration_rabbitmq_test.go
  pkg/messaging/testutil/compose/docker-compose.messaging.yml
Due: unittests, Core Packages

feat(server): implement gRPC metrics, auth and rate limiting interceptors
  pkg/server/config.go
  pkg/server/config_test.go
  pkg/server/middleware.go
  pkg/server/middleware_test.go
Due: unittests, Core Packages

feat(messaging): implement in-memory broker package
  pkg/messaging/adapter_init_test.go
  pkg/messaging/factory_test.go
  pkg/messaging/inmemory/adapter.go
  pkg/messaging/inmemory/adapter_test.go
  pkg/messaging/inmemory/broker.go
  pkg/messaging/inmemory/broker_test.go
  pkg/messaging/inmemory/publisher.go
  pkg/messaging/inmemory/subscriber.go
Due: unittests, Core Packages

test: add missing unit tests and core package coverage gates
  .github/workflows/test.yml
  pkg/client/grpc_client_test.go
  pkg/config/monitor_test.go
  pkg/integration/metrics_test.go
  pkg/middleware/sentry_test.go
  pkg/utils/crypto_test.go
  scripts/mk/test.mk
  scripts/tools/check-coverage.sh
Due: none

feat(security): implement OSV full sync and enable OPA test assertions
  pkg/security/opa/client_test.go
  pkg/security/vulnerability/database.go
  pkg/security/vulnerability/sync.go
  pkg/security/vulnerability/sync_test.go
Due: unittests, Core Packages

feat(patterns): add Postgres and Redis storage for inbox/outbox patterns
  go.mod
  go.sum
  pkg/patterns/inbox/README.md
  pkg/patterns/inbox/postgres_storage.go
  pkg/patterns/inbox/postgres_storage_test.go
  pkg/patterns/inbox/redis_storage.go
  pkg/patterns/inbox/redis_storage_test.go
  pkg/patterns/outbox/README.md
  pkg/patterns/outbox/e2e_test.go
  pkg/patterns/outbox/postgres_storage.go
  pkg/patterns/outbox/postgres_storage_test.go
  pkg/patterns/outbox/redis_storage.go
  pkg/patterns/outbox/redis_storage_test.go
  pkg/patterns/saga/README.md
Due: unittests, Core Packages

feat(discovery): add multi-backend Provider abstraction with etcd and Kubernetes support
  examples/discovery-config-examples.yaml
  go.mod
  go.sum
  pkg/discovery/consul_provider.go
  pkg/discovery/consul_provider_test.go
  pkg/discovery/etcd_provider.go
  pkg/discovery/etcd_provider_test.go
  pkg/discovery/kubernetes_provider.go
  pkg/discovery/kubernetes_provider_test.go
  pkg/discovery/manager.go
  pkg/discovery/manager_test.go
  pkg/discovery/provider.go
  pkg/discovery/provider_test.go
  pkg/server/config.go
  pkg/server/config_test.go
  pkg/server/discovery.go
  pkg/server/discovery_test.go
Due: unittests, Core Packages

feat(resilience): share rate limiting core with middleware and complete DLQ cleanup/recovery
  pkg/middleware/leaky_bucket.go
  pkg/middleware/leaky_bucket_test.go
  pkg/middleware/token_bucket.go
  pkg/middleware/token_bucket_test.go
  pkg/resilience/ratelimit.go
  pkg/resilience/ratelimit_test.go
  pkg/saga/messaging/dlq.go
  pkg/saga/messaging/dlq_storage.go
  pkg/saga/messaging/dlq_storage_test.go
  pkg/saga/messaging/dlq_test.go
Due: unittests, Core Packages, Saga Module

feat(testing): add framework-level testing toolkit in pkg/testing
  internal/testing/benchmark.go
  internal/testing/lifecycle.go
  pkg/server/servertest_adoption_test.go
  pkg/testing/msgtest/doc.go
  pkg/testing/msgtest/fixtures.go
  pkg/testing/msgtest/helpers.go
  pkg/testing/msgtest/mocks.go
  pkg/testing/msgtest/msgtest_test.go
  pkg/testing/servertest/servertest.go
  pkg/testing/servertest/servertest_test.go
Due: none

refactor(messaging,saga): resolve residual placeholders or document design boundaries
  pkg/messaging/json.go
  pkg/messaging/middleware/metrics.go
  pkg/messaging/middleware/metrics_prometheus_test.go
  pkg/messaging/plugin.go
  pkg/messaging/protobuf.go
  pkg/messaging/protobuf_registry_test.go
  pkg/saga/monitoring/api_alerts.go
  pkg/saga/monitoring/api_alerts_test.go
  pkg/saga/monitoring/api_metrics.go
  pkg/saga/monitoring/api_metrics_test.go
  pkg/saga/monitoring/validator.go
  pkg/saga/monitoring/validator_test.go
Due: unittests, Core Packages, Saga Module

fix(docs): consolidate dependency updates and repair npm lockfile
  docs/pages/package-lock.json
  docs/pages/package.json
Due: none

fix(ci): emit single-line documentation change counts
  .github/workflows/docs-build-check.yml
Due: none

fix(deps): consolidate OpenTelemetry and Go security upgrades
  examples/distributed-tracing/services/inventory-service/go.mod
  examples/distributed-tracing/services/inventory-service/go.sum
  examples/distributed-tracing/services/order-service/go.mod
  examples/distributed-tracing/services/order-service/go.sum
  examples/distributed-tracing/services/payment-service/go.mod
  examples/distributed-tracing/services/payment-service/go.sum
  examples/saga-monitoring/go.mod
  examples/saga-monitoring/go.sum
  examples/symmetric_transport/go.mod
  examples/symmetric_transport/go.sum
  go.mod
  go.sum
Due: none

chore(go): align build and scaffold defaults on Go 1.26.8
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/docs-sync.yml
  .github/workflows/license-check.yml
  .github/workflows/quality-badges.yml
  .github/workflows/release.yml
  .github/workflows/security-checks.yml
  .github/workflows/security-scan.yml
  .github/workflows/sentry-integration-test.yml
  .github/workflows/test.yml
  DEVELOPMENT-CN.md
  DEVELOPMENT.md
  README-CN.md
  README.md
  build/docker/Dockerfile.template
  build/docker/swit-serve/Dockerfile
  build/docker/switauth/Dockerfile
  build/docker/switctl/Dockerfile
  examples/distributed-tracing/scripts/setup.sh
  examples/distributed-tracing/services/inventory-service/Dockerfile
  examples/distributed-tracing/services/order-service/Dockerfile
  examples/distributed-tracing/services/payment-service/Dockerfile
  examples/full-security-stack/Dockerfile
  examples/oauth2-authentication/Dockerfile
  examples/opa-authorization/Dockerfile
  examples/prometheus-monitoring/Dockerfile
  examples/saga-monitoring/Dockerfile
  internal/switctl/cmd/init/init.go
  internal/switctl/cmd/init/init_test.go
  internal/switctl/cmd/new/service.go
  internal/switctl/cmd/new/service_test.go
  internal/switctl/cmd/version/version.go
  internal/switctl/deps/config.go
  internal/switctl/interfaces/types.go
  internal/switctl/template/templates/service/Dockerfile.tmpl
  internal/switctl/template/templates/service/Makefile.tmpl
  internal/switctl/template/templates/service/README.md.tmpl
  internal/switctl/template/templates/service/go.mod.tmpl
  tests/security/docker-compose.test.yml
Due: unittests, Internal Services

fix(saga): prevent audit trace identifier collisions
  pkg/saga/security/audit_tracker.go
  pkg/saga/security/audit_tracker_test.go
Due: unittests, Core Packages, Saga Module

fix(deps): patch QUIC transport in tracing examples
  examples/distributed-tracing/services/inventory-service/go.mod
  examples/distributed-tracing/services/inventory-service/go.sum
  examples/distributed-tracing/services/order-service/go.mod
  examples/distributed-tracing/services/order-service/go.sum
  examples/distributed-tracing/services/payment-service/go.sum
  examples/symmetric_transport/go.sum
Due: none

docs: align repository Go requirement with security baseline
  AGENTS.md
Due: none

fix(docs): complete Tailwind 4 and Vue ESLint 10 migration
  .github/workflows/docs-build-check.yml
  docs/pages/.eslintrc.js
  docs/pages/en/community/website-development.md
  docs/pages/package-lock.json
  docs/pages/package.json
  docs/pages/postcss.config.js
  docs/pages/tests/build-config/postcss.test.js
  docs/pages/zh/community/website-development.md
Due: none

fix(docs): patch browser tooling dependency vulnerabilities
  docs/pages/package-lock.json
Due: none

docs: align website development Node requirement
  docs/pages/en/community/website-development.md
  docs/pages/zh/community/website-development.md
Due: none

Path conditions:
  unittests: any of: pkg/, internal/, but not: api/gen/**/*, docs/generated/**/*, **/mocks*.go, **/*_test.go, examples/**/*, cmd/**/*, internal/testing/**/*, pkg/testing/**/*
  Core Packages: any of: pkg/**, but not: api/gen/**/*, docs/generated/**/*, **/mocks*.go, **/*_test.go, examples/**/*, cmd/**/*, internal/testing/**/*, pkg/testing/**/*
  Internal Services: any of: internal/**, but not: api/gen/**/*, docs/generated/**/*, **/mocks*.go, **/*_test.go, examples/**/*, cmd/**/*, internal/testing/**/*, pkg/testing/**/*
  Saga Module: any of: pkg/saga/**, internal/*/saga/**, but not: api/gen/**/*, docs/generated/**/*, **/mocks*.go, **/*_test.go, examples/**/*, cmd/**/*, internal/testing/**/*, pkg/testing/**/*
