Repository innovationmech/swit: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Packages, Internal Services, Saga Module

codecov.yml:

# Codecov 配置文件
# https://docs.codecov.com/docs/codecov-yaml

# 覆盖率配置
coverage:
  precision: 2  # 覆盖率精确到小数点后2位
  round: down   # 向下取整
  range: "70...95"  # 覆盖率范围颜色设置

  # 状态检查配置
  status:
    project:
      default:
        target: 85%           # 项目总体覆盖率目标
        threshold: 1%         # 允许下降1%
        if_ci_failed: error   # CI失败时显示错误
    patch:
      default:
        target: 80%           # 补丁覆盖率目标
        threshold: 5%         # 允许下降5%
        if_ci_failed: error

# 需要忽略的文件和目录
ignore:
  - "api/gen/**/*"           # 自动生成的 proto 代码
  - "docs/generated/**/*"    # 自动生成的文档
  - "**/mocks*.go"           # Mock 文件
  - "**/*_test.go"           # 测试文件本身
  - "examples/**/*"          # 示例代码
  - "cmd/**/*"               # 命令行入口（通常不测试）
  - "internal/testing/**/*"  # 测试辅助代码
  - "pkg/testing/**/*"       # 测试辅助代码

# 评论配置
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: true     # 只在有变更时评论
  require_base: false       # 不要求基础分支
  require_head: true        # 要求头部分支

# GitHub 检查配置
github_checks:
  annotations: true         # 启用注释

# Codecov 应用行为
codecov:
  require_ci_to_pass: true  # 要求 CI 通过
  notify:
    wait_for_ci: true       # 等待 CI 完成

# 标志（Flags）配置
flags:
  unittests:
    paths:
      - pkg/
      - internal/
    carryforward: true      # 如果测试失败，保留之前的覆盖率

# 用于组织覆盖率报告
component_management:
  default_rules:
    statuses:
      - type: project
        target: 85%
  individual_components:
    - component_id: pkg
      name: Core Packages
      paths:
        - pkg/**
    - component_id: internal
      name: Internal Services
      paths:
        - internal/**
    - component_id: saga
      name: Saga Module
      paths:
        - pkg/saga/**
        - internal/*/saga/**

fix(ci): 修复测试工作流失败问题
  .github/workflows/test.yml
Due: none

fix(ci): 调整覆盖率阈值为更现实的目标
  .github/workflows/test.yml
  codecov.yml
Due: none

fix(ci): 移除工作流间的循环调用，简化 CI 结构
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: none

fix(ci): 覆盖率测试跳过不稳定的混沌测试
  scripts/tools/test-manage.sh
Due: none

refactor(ci): 重构 CI 和测试工作流，消除重复
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: none

fix(ci): 修复 CodeQL 安全告警
  .github/workflows/test-failure-notification.yml
  .github/workflows/test.yml
Due: none

docs(saga): 生成 Saga 测试报告和文档 (#725)
  docs/README.md
  docs/pages/en/testing/index.md
  docs/pages/zh/testing/index.md
  docs/saga-performance-benchmarks.md
  docs/saga-test-coverage.md
  docs/saga-testing-guide.md
  pkg/saga/testing/README.md
Due: unittests, Core Packages, Saga Module

test(chaos): 修复 TestMessageLoss_EventOrdering 的不稳定性
  pkg/saga/testing/chaos/message_loss_test.go
Due: none

fix(ci): generate proto code before building in CI build job
  .github/workflows/ci.yml
Due: none

docs(ci): add explanatory comment about proto generation order
  .github/workflows/ci.yml
Due: none

fix(ci): add ci.yml to test workflow paths to trigger tests on CI changes
  .github/workflows/test.yml
Due: none

fix(test): improve stability of TestRealtimePusher_MultipleClients
  pkg/saga/monitoring/realtime.go
  pkg/saga/monitoring/realtime_test.go
Due: unittests, Core Packages, Saga Module

test: skip flaky TestRealtimePusher_MultipleClients
  pkg/saga/monitoring/realtime_test.go
Due: none

fix: update skip message to reference correct issue #757
  pkg/saga/monitoring/realtime_test.go
Due: none

fix(test): 修复 TestRealtimePusher_MultipleClients 不稳定测试
  pkg/saga/monitoring/realtime_test.go
Due: none

docs(saga): 添加 Saga API 参考文档
  docs/saga-api-reference.md
Due: none

docs(saga): 完善 Saga 用户指南
  docs/saga-user-guide.md
Due: none

docs(saga): add comprehensive developer guide
  docs/saga-developer-guide.md
Due: none

docs(saga): add tutorials and best practices documentation
  docs/saga/best-practices.md
  docs/saga/tutorials.md
Due: none

feat(saga): 添加 Saga 分布式事务系统部署指南
  docs/saga/deployment-guide.md
  examples/deployment-templates/saga-kafka.properties
  examples/deployment-templates/saga-production.yaml
  examples/deployment-templates/saga-redis.conf
Due: none

fix(saga): 修正重试策略类型名称
  docs/saga/deployment-guide.md
  examples/deployment-templates/saga-production.yaml
Due: none

docs: 准备 CHANGELOG 和发布说明
  .github/workflows/release.yml
  CHANGELOG.md
  RELEASE_NOTES.md
  VERSION
  scripts/release.sh
Due: none

docs: update README and documentation with Saga features
  README-CN.md
  README.md
  docs/README.md
Due: none

fix(chaos): skip flaky TestMessageLoss_EventOrdering in CI environments
  pkg/saga/testing/chaos/message_loss_test.go
Due: none

fix(security): upgrade Go version from 1.23.12 to 1.24.8 to fix security vulnerabilities
  .github/workflows/license-check.yml
  .github/workflows/security-checks.yml
  .github/workflows/test.yml
  docs/saga-testing-guide.md
  examples/saga-monitoring/go.mod
  examples/symmetric_transport/go.mod
  go.mod
  pkg/saga/state/storage/POSTGRES_INTEGRATION_TEST_SETUP.md
  pkg/server/sentry.go
Due: unittests, Core Packages, Saga Module

fix(ci): align all CI workflows with go.mod Go 1.24 requirement
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/quality-badges.yml
  .github/workflows/sentry-integration-test.yml
  .github/workflows/test.yml
Due: none

fix(sentry): remove duplicate /health endpoint registration
  examples/sentry-example-service/main.go
Due: none

fix(rabbitmq): 修复测试中的数据竞争问题
  pkg/messaging/rabbitmq/broker_test.go
  pkg/messaging/rabbitmq/consumer_test.go
  pkg/messaging/rabbitmq/mocks_test.go
Due: none

fix(test): initialize logger in tracing demo test to prevent nil pointer dereference
  demo_tracing_scenarios_test.go
Due: none

fix: resolve data race conditions in concurrent tests
  pkg/saga/coordinator/mode_selector.go
  pkg/saga/monitoring/realtime.go
  pkg/saga/retry/circuit_breaker_test.go
  pkg/saga/state/recovery_metrics.go
  pkg/server/alerting_test.go
Due: unittests, Core Packages, Saga Module

fix: add missing sync import in circuit_breaker_test.go
  pkg/saga/retry/circuit_breaker_test.go
Due: none

fix: resolve race condition in mockEventPublisher
  pkg/saga/testing/chaos/test_helpers.go
Due: unittests, Core Packages, Saga Module

fix: remove unnecessary blank lines in mode_selector.go, circuit_breaker_test.go, and recovery_metrics.go
  pkg/saga/coordinator/mode_selector.go
  pkg/saga/retry/circuit_breaker_test.go
  pkg/saga/state/recovery_metrics.go
Due: unittests, Core Packages, Saga Module

docs: add security enhancements specifications
  specs/security-enhancements/README.md
  specs/security-enhancements/design.md
  specs/security-enhancements/requirements.md
  specs/security-enhancements/tasks.md
Due: none

feat(security): add OAuth2/OIDC and JWT dependencies and base structures
  DEVELOPMENT-CN.md
  DEVELOPMENT.md
  go.mod
  go.sum
  pkg/security/jwt/claims.go
  pkg/security/jwt/extractor.go
  pkg/security/jwt/validator.go
  pkg/security/jwt/validator_test.go
  pkg/security/oauth2/cache.go
  pkg/security/oauth2/client.go
  pkg/security/oauth2/config.go
  pkg/security/oauth2/config_test.go
  pkg/security/oauth2/token.go
  pkg/security/types.go
  pkg/security/types_test.go
Due: unittests, Core Packages

fix(security): enforce issuer and audience validation in JWT validator
  pkg/security/jwt/validator.go
  pkg/security/jwt/validator_test.go
Due: unittests, Core Packages

feat(oauth2): implement comprehensive OAuth2 configuration management
  pkg/security/oauth2/config.go
  pkg/security/oauth2/config_test.go
Due: unittests, Core Packages

feat(oauth2): implement OIDC discovery and client initialization
  pkg/security/oauth2/client.go
  pkg/security/oauth2/client_test.go
  pkg/security/oauth2/provider.go
  pkg/security/oauth2/provider_test.go
Due: unittests, Core Packages

fix(oauth2): respect HTTP proxy environment variables in client transport
  pkg/security/oauth2/client.go
  pkg/security/oauth2/client_test.go
Due: unittests, Core Packages

refactor(oauth2): clean up whitespace in HTTP client transport settings
  IMPLEMENTATION_SUMMARY_437.md
  IMPLEMENTATION_SUMMARY_560.md
  ISSUE_496_REVIEW.md
  pkg/security/oauth2/client.go
Due: unittests, Core Packages
